body {
    margin: auto;
    max-width: 400px;
    padding: 10px;
    background: grey;
}

#title {
    color: white;
    width: 300px;
    height: auto;
    position: relative;
    margin: 0 auto;
    top: 10%;
    font-size: 20px;
}

#gif {
    background-image: url("assets/tenor.gif");
    background-size: contain;
    background-repeat: noreapt;
    width: 265px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    top: 110px;
}

#startGame  {
    color: black;
    background-color: white;
    width: 200px;
    height: auto;
    position: relative;
    margin: 0 auto;
    top: 30%;
    font-size: 50px;
    border-radius: 5px;
    cursor: pointer;
    border-width: thick;
    border-color: black;
    text-align: center;
}

#restartGame    {
    color: black;
    width: 200px;
    height: auto;
    position: relative;
    margin: 0 auto;
    top: 70%;
    font-size: 20px;
    cursor: pointer;
}

.scoreboard {
    width: 300px;
    color: white;
    position: relative;
    top: 200px;
    background-color: black;
    margin: 0 auto;
    text-align: center;
}

h1, p{
    text-align: center;
}

.score {
    text-align: center;
}